@import '../../utils/constans.scss';

.not-found {
  background: $black;
  display: flex;
  flex-flow: column;
  height: calc(100vh - 72px);
  width: 100vw;

  .header-notfound {
    padding: 20px;
    text-align: left;
  }

  h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 200;

    &.error-msg {
      font-size: 128px;
      font-weight: bold;
    }
  }

  .body-notfound {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-around;
  }

  .back-btn {
    border: 1px solid #F65261;
    color: #F65261;
    font-size: 24px;
    padding: 16px;
    text-decoration: none;
  }
}
