@import '../../utils/constans.scss';

.logo-header {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  width: 100%;
}

.circle {
  background: #F65261;
  border-radius: 50%;
  color: #fff;
  padding: 5px 8px;
}
